body {
    color: red;
    background-color: #add8e6;
}

.stButton>button {
    color: red;
    background-color: '#000000'
    text-align: center;
    align-content: center;
    text-decoration-color: red
    padding: 2em;
    height: 4em;
    width: 15em;
}